
<div class="alerta" >
    <h1>Ferramenta de reuso de requisitos</h1>
    <h2 class="atencao">*leia com atenção*</h2>
    <p>Essa é uma ferramenta para estudo <strong>experimental</strong> de <strong> reuso de requisito</strong>.</p>
    <p>A proposta da ferramenta e <strong>auxiliar a elicitação de requisitos</strong>, esta ferramenta tem como usuário principal <strong>engenheiros de software</strong> e <strong>analiastas de requisitos.</strong></p>
    <p>A ferramenta de prover cadastro dos requisitos baseado é um modelo de requisitos, além prover metodos de comparação entre versões de requisitos, prototipagem de telas e exportação de documento final.</p>
    <p>Qual quer falha ou não comprenção deve ser descrito no questionario de avalição da ferramenta.</p>
    <p>Os links para a ferramenta de questionario de avaliação se encontram-se abaixo</p>
    <a ui-sref="requirement" href="#">Ir para a ferramenta</a><br>
    <a href="https://goo.gl/m1W3yH"> Ir para o questionario</a>
    <h3>Obrigado por sua colaboração!</h3>
</div>

<div ui-view></div>