            <heder>
                <title>Documento de requisito {{requirement.title}} - {{requirement.version}}</title>
                <style>
                    .primary{
                        margin-left: 75px;
                        margin-right: 75px;
                        padding: 30px;
                        border-width: 6px;
                        border-style: double;
                        }
                    
                    .th3{
                        text-align: center;
                    }
                    table{
                        width:100%;
                    }
                    table, th, td {
                      border: 1px solid black;
                    }
                    td {
                        text-align:center;
                    }
                </style>
            </heder>
           <div class="primary"> 
            <div class="cls1">
                <h3 class="th3">Documento de requisito {{requirement.title}} - {{requirement.version}}</h3>
            
            <div class="cls2">
                 <table>
                    <tr>
                        <th>Título</th>
                        <th>versão</th>
                    </tr>
                    <tr>
                        <td>{{requirement.title}}</td>
                        <td>{{requirement.version}}</td>
                    </tr>
                    <tr>
                        <th>Autor</th>
                        <th>Fonte</th>
                    </tr>
                    <tr>
                        <td>{{requirement.author}}</td>
                        <td>{{requirement.source}}</td>
                    </tr>
                    <tr>
                        <th>Proposito</th>
                        <th>Dados especificos</th>
                    </tr>
                    <tr>
                        <td>{{requirement.objective}}</td>
                        <td>{{requirement.specifics}}</td>
                    </tr>
                    <tr>
                        <th>Importância</th>
                        <th>Urgencia</th>
                    </tr>                
                    <tr>
                        <td>{{requirement.importance}}</td>
                        <td>{{requirement.urgency}}</td>
                    </tr>
                    
                </table>
                <br>
                <table>
                    <tr>
                          <th>Intervalo de tempo</th>
                    </tr>
                    <tr >
                        <td>{{requirement.timeinterval}}</td>
                    </tr>
                </table>
            </div>
<br>
<br>
            <label><strong>Descrição para o cliente:</strong></label><br>

            <p>{{requirement.descriptionforclient}}</p><br>
          
            <label><strong>Descrição para equipe de desenvolvimento</strong></label><br>
            <p>{{requirement.descriptionforteam}}</p><br>
            <label><strong>Comentarios</strong></label><br>
            <p>{{requirement.comments}}</p><br>
            </div>
            </div>
            <input type="button" name="imprimir" value="Imprimir" onclick="window.print();">
